.header img{
    height: 100px;
    width: 100px;
   margin-left: auto;
    margin-right: auto;
    display: block;
}
.header h1{
    text-align: center;
}

.container-fluid navbar-nav{
    text-align: right;

}
.navbar a {

float: left;
display: block;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}
/* Links - change color on hover */
.navbae a:hover {
background-color: #ddd;
color: black;
}
.navbar ul {
text-align: right;  
}

.navbar .nav-item.dropdown:hover .dropdown-menu {
    display: block;
    width: 100%;
}
